.details-container{
    min-height: calc(100vh - 70px);
    padding: 0 calc(3.5vw + 5px);
    position: relative;
}

.details-background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
}

.details-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-img-title{
    height: 30vh;
    width: 35vw;
    min-width: 170px;
    min-width: 200px;
    margin-top: 60px;
}

.details-img-title img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-controls{
    display: flex;
    align-items: center;
}

.playbutton{
    border-radius: 4px;
    font-size: 15px;
    padding: 0px 24px;
    margin-right: 22px;
    display: flex;
    align-items: center;
    height: 56px;
    background-color: rgb(249, 249,249);
    border: none;
    letter-spacing: 1.8px;
    cursor: pointer;
}

.playbutton:hover{
    background-color: rgb(198,198,198);
}

.trailerbutton{
    background-color: rgba(0, 0,0,0.3);
    border: 1px solid rgb(249,249,249);
    color: rgb(249, 249,249);
    text-transform: uppercase;
}

.addbutton{
    margin-right: 16px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(0, 0,0,0.6);
    cursor: pointer;
}


.addbutton span{
    font-size: 30px;
    color: white;
}

.grpwatchbutton{
    background: rgb(0,0,0);
}

.details-subtitile{
    color: rgb(249,249,249);
    font-size: 15px;
    min-height: 20px;
    margin-top: 26px;
}

.details-description{
    line-height: 1.4;
    font-size: 20px;
    margin-top: 16px;
    color: rgb(249,249,249);
    max-width: 760px;
}